[Unit]
Description=Matrix Telegram Bridge
After=matrix-synapse.service

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__/
ExecStart=__FINALPATH__/bin/python3 -m mautrix_telegram

[Install]
WantedBy=multi-user.target
